.m-footer{
    padding-top: 40px;
    padding-bottom: 69px;
    background: $brand-blue;

    @media (min-width: $size-desktop) {
        padding-top: 56px;
        padding-bottom: 55px;
    }
   
    .m-footer-menu{
        text-align: center;
        display: flex;
        gap: 32px;
        flex-direction: column;
        @media (min-width: $size-desktop) {
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 0;
        }

        a{
            color: $white;
            font-size: 16px;
            padding: 14px 27px;
            font-weight: bold;
            display: inline-block;
            position: relative;
            @media (min-width: $size-desktop) {
                padding: 14px 34px;
            }
            &::after{
                content: "";
                width: 24px;
                height: 2px;
                background: #fff;
                display: block;
                margin: auto;
                bottom: -16px;
                left: 0;
                position: absolute;
                right: 0;
                @media (min-width: $size-desktop) {
                    height: 24px;
                    width: 2px;
                    bottom: 0;
                    top: 0;
                    left: inherit;
                    right: -2px
                }
            }
        }

        li:last-child a::after{
            display: none;
        }

    }

    .m-footer__logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56px;
        gap: 108px;
        @media (min-width: $size-desktop) {
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }


}
