.m-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    & > .m-header__main{
        box-shadow: 0px 4px 16px #00000014;
        width: 100%;
        height: $headerHeight;
        background-color: $white;
        position: absolute;
        z-index: 9;
        @media (min-width: $size-desktop) {
            height: $headerHeightDesktop;
        }
        & > .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }

    & > .m-header__menu{
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        background-color: $brand-blue;
        color: $white;
        height: calc(100vh - $headerHeight);
        width: 100%;
        position: absolute;
        top: $headerHeight;
        overflow: auto;
        padding: 40px 0 111px;

        @media (min-width: $size-desktop) {
            display: block!important;
            opacity: 1!important;
            height: auto;
            padding: 0;
            overflow: visible;
            top: $headerHeightDesktop;
        }

        .m-header__menu__nav{
            gap: 16px;
            display: grid;
            font-size: rem(16px);
            font-weight: bold;
            letter-spacing:(0.7px);
            line-height: 1.2;
            a{
                color: $white;
                display: block;
                padding: rem(14px);
                padding: 16px 24px 13px 22px;
                display: inline-block;
            }

            &.desktop{
                display: none;
            }

            @media (min-width: $size-desktop) {
                &.mobile{
                    display: none;
                }
                &.desktop{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                }
            }
        }
    }


    @media (min-width: $size-desktop) {
    
        .m-header__logo{
            img{
                width: auto;
                height: auto;
            }
        }

        .submenu-container{
            display: none;
            position: absolute;
            background: #9D8E8E;
            left: 0;
            z-index: 9999;
            top: 0;
            width: 100%;
            top: 47px;
            .sub-menu{
                display: flex;
                padding: 0 22px;
                max-width: 1176px;
            }
        }

        .menu-item-has-children{
            & > a{
                position: relative;
                &:after{
                    content: "";
                    background-image: url(../img/icons/arrow-white.svg);
                    display: inline-block;
                    height: 8px;
                    width: 12px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: 0.25s ease;
                    cursor: pointer;
                    margin-left: 13px;
                }
            }
            &:hover .submenu-container{
                display: block;
            }
        }

    }

}