.m-button-primary{
    background-color: $brand-blue;
    color: $white;
    border-radius: 16px;
    font-size: rem(20px);
    line-height: 1;
    padding: 20px;
    text-align: center;
    display: inline-block;
    transition: .35s;
    &:hover{
        filter: brightness(1.1);
    }
}