// Base
@import './base/imports';
@import './base/base';

// Modules
@import './modules/products/slider-product';
@import './modules/news/slider-news';
@import './modules/banners/banner-full-width';


.l-home{
    h2{
        margin: 40px auto;
        color: $brand-blue;
        font-size: rem(31px);
        line-height: 1.37;
        letter-spacing: 0.62px;
        text-align: center;
        text-transform: lowercase;
        @media (min-width: $size-desktop) {
            margin-top: 80px;
            font-size: rem(39px);
        }
    }

    & > .l-home__content{
        font-size: rem(16px);
        line-height: 1.37;
        letter-spacing: 0.32px;
        text-align: center;
        padding-bottom: 40px;

        @media (min-width: $size-desktop) {
            font-size: rem(20px);
            line-height: 1.4;
            letter-spacing: 0.4px;

            
            p, h2{
                max-width: 550px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        p{
            margin-top: 0;
            margin-bottom: 1em;
        }


    }

    & > .l-home__products,
    & > .l-home__news{
        padding-bottom: 64px;
        overflow: hidden;
        @media (min-width: $size-desktop) {
            padding-bottom: 80px;
            h2{
                margin-bottom: 80px;
            }
        }
    }


    & > .l-home__news{
        @media (min-width: $size-desktop) {
            padding-bottom: 120px;
        }

        .m-button-primary{
            width: 312px;
            margin-top: 45px;
        }
    }
}